.blog-box
    margin-bottom: 200px
.blog
    display: flex
    flex-wrap: wrap
    margin-bottom: 60px
    color: #ffffff
    text-transform: uppercase
    .blog_item
        margin: 20px 20px 20px 0
        max-width: 360px
        position: relative
        width: 100%
        height: 744px
        background-color: #362f2f
        &:after
            position: absolute
            bottom: -20px
            content: ''
            width: 330px
            height: 1px
            border: 1px dotted #a7a7a7

        .blog_item_elem
            padding: 15px

        .blog-img
            margin-bottom: 30px

        .blog-heading
            margin-bottom: 20px
            height: 70px
            overflow: hidden
            font: 400 26px/24px "Roboto Condensed"
        .blog-text
            margin-bottom: 50px
            height: 80px
            overflow: hidden
            font: 300 14px "Roboto Condensed"
        .blog-btn
            padding: 10px 60px
            margin-left: 80px
            font: 700 12px/1 "Roboto Condensed"
            background-color: #c3a000
            color: #ffffff

        .blog_atribute
            margin-top: 60px

        span
            color: #fffefe
            font: 300 12px "Roboto Condensed"
            letter-spacing: 1.2px

        .blog_date
            margin-right: 200px
    .item2, .item4, .item6
        background-color: #000000

    .item2


.arrow_up
    padding: 20px
    float: right
    width: 50px
    height: 50px
    background-color: #362f2f
    color: #ffffff


.btn-page
    display: flex
    li
        margin-right: 20px
    li:first-child
        margin-left: 350px
    a
        color: #202020
        font: 300 12px/21px "Roboto Condensed"
    .previos, .next-page
        padding: 15px 30px
        width: 80px
        height: 40px
        background-color: #362f2f
        color: #ffffff
        font: 400 12px/21px "Roboto Condensed"
        text-transform: uppercase