header
    .top_header
        display: flex
        justify-content: space-between

    .social
        margin-right: 20px
        max-width: 140px
        color: #362f2f
        font-size: 12px

    #nav
    padding: 20px 0

    ul
        list-style: none


    a
        text-decoration: none

    .menu li a
        display: block
        padding: 10px 30px


    .menu li
        background-color: #ddd


    .menu-item
        margin-right: 2px
        position: relative


    .menu
        display: flex


    .submenu
        position: absolute
        display: none


    .submenu-item
        margin-top: 1px

    #gallery
    width: 860px
    margin: 0 auto
    text-align: center


#gallery .photos img
    width: 100%
    display: none


#gallery .photos img:first-child
    display: block


