#gallery
    width: 1140px
    margin: 0 auto
    text-align: center


    img
        height: 100%
        max-height: 1140px


    .photos img
        width: 100%
        display: none


    .photos img:first-child
        display: block

    .popup
        position: absolute
        padding-left: 25px
        padding-bottom: 25px
        width: 263px
        height: 263px
        background: #ffffff
        color: #362f2f
        font: 400 18px/1 "Roboto Condensed"

    .popup_content
        width: 160px
        height: 100px
        display: flex
        margin-bottom: 60px


    .popup_title
        text-transform: uppercase
    .popup_subtitle
        font-style: italic
    .popup_text
        font: 300 14px/1 "Roboto Condensed"

    .popup_icon
        display: flex
        justify-content: space-between
        color: #c29f00
        font-size: 14px

    .popup_right
        width: 70px